<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    {{>header}}

    <div class="containerBody">
    <p>{{body}}<br>A weather app with  API from Weatherapi.com,<br>Include real-time weather information, forecast and history based on the current location or city search. </p>
   
    </div>

     {{>footer}}
</body>
</html>