<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
     {{>header}}

    <div class="containerBody">
    <p>{{body}} <br>1.Inter a valid City to the search line <br>2.You can also inter shortcut for city like "NY" for "New-York"<br> 3.if there is a problem with validation of a city, try to inter also the country<br> </p>

    </div>
    {{>footer}}
</body>
</html>